
<header>
    <h1>PRADEEPKUMAR GUPTA</h1>
    <p>Senior Software Engineer with 10+ years of experience in web development</p>
    <p>Email: akshatdotnet&commat;outlook.com | Phone: (+91) 84220 52368</p>

    <!-- Add a button -->
    <!-- <button (click)="openEcommerceSite()">View Sample E-commerce Site</button> -->
    <!-- <button (click)="openEcommerceSite()" style="background-color: yellow; color: black; font-weight: bold;">
      View Sample Web App
    </button> -->
    
  </header>

    
  <!-- <header>
    <h1>PRADEEPKUMAR GUPTA</h1>
    <p>Senior Software Engineer with 10+ years of experience in web development</p>
    <p>Email: <a href="mailto:akshatdotnet@outlook.com">akshatdotnet&commat;outlook.com</a> | 
    Phone: <a href="tel:+918422052368">(+91) 84220 52368</a></p>
  </header> -->
  